body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active){
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.characters,
.main-header {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.main-navigation {
  width: 100%;
  min-height: 56px;

  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  background: transparent;
}

.site-navigation {
  list-style: none;
  height: 56px;
  width: 1056px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 73px;
  outline: 1px solid orangered;
}

.site-navigation a {
  display: block;
  padding: 24px 0;
  color: #000000;
}

.site-navigation a:hover {
  color: #82b3d3;
}

.site-navigation a:active {
  color: #cacaca;
}
/*
.site-navigation a:visited {
  color: #766354;
}
*/
.promo{
  background-color: #81b3d2;
  background-image: url("../img/back.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  width: 1200px;
  height: 506px;

}

.title {
  text-align: center;
  font-size: 21px;
  padding-top: 50px;
}

.reasons {
  text-align: center;
  padding-top: 35px;
}

/* Форма */
.booking {
  padding-top: 57px;
  width: auto;
  background-color: #ffffff;

}

.booking-title {
  text-align: center;
}

.booking-title b {
  font-size: 30px;
  line-height: 36px;

}

.booking-description {
  margin: 0;
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.booking-wrap {
  margin-top: 52px;

}

.booking-search {
  margin: 0 auto;
  padding: 30px 0;

  background-color: #766357;
  color: #ffffff;
  text-align: center;
  font-size: 21px;

  width: 568px;
  max-height: 86px;
}

.booking-form {
  margin: 0 auto;
  padding: 53px;
  width: 460px;
  background-color: #ffffff;

  outline: 1px solid crimson;
}

.booking-item {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 29px;
  padding: 10px 0;

  outline: 1px solid green;
}

.booking-item label {
  width: 97px;
  font-weight: bold;
}

.booking-item input[type="text"] {
  margin: 0;
  padding: 12px 0 11px 12px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
  text-transform: uppercase;

  width: 317px;
}
.booking-item input {
  flex-grow: 1;

}
.booking-item input:hover {
  background-color: #ebebeb;
}
.booking-item input:focus {
  background-color: #ffffff;
}

.booking-item .calendar {
  position: absolute;
  top: 10px;
  right: 0;
  color: #cdcdcd;
}

.booking-item-control {
  display: flex;
  outline: 1px solid dodgerblue;
}
/*
.booking-item input {
  flex-grow: 0;
}*/
.control-count {
  padding: 10px 0 12px 0;
  width: 38px;
  vertical-align: middle;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
}


.control-btn {
  width: 38px;
  height: 38px;
  color: #a9a9a9;
}
.control_btn:hover,
.calendar:hover {
  color: #000000;
}

.control_btn:active,
.calendar:active {
  color: #82b3d3;
}

.search-button {
  width: 100%;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  height: 58px;
}
.search-button:active {
  background-color: #5596be;
  color: #93b9d0;
}
.button {
  font-size: 14px;
  line-height: 21px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ebf;
}

.button:active {
  background-color: #5596be;
  color: #94bad1;
}

.booking-search:hover,
.booking-btn:hover:hover {
  background-color: #604e44;
}
.booking-search:active,
.booking-btn:active{
  background-color: #503e32;
  color: #928984;
}


/* Inner page */
.hotel-name {
  font-size: 21px;
  line-height: 26px;
}

.hotel-name a {
  color: #000000;
}
/* Футер */
.main-footer {

  width: auto;
  display: flex;
  align-items: center;
  outline: 1px solid forestgreen;

}

.instagram {
  width: 328px;
  outline: 1px solid mediumvioletred;
  margin-left: 73px;
  /*align-self: center;
  margin-top: 10px;*/
}
.hashtag {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.social-footer {
  text-align: center;
  min-width: 489px;
  flex-grow: 1;
  outline: 1px solid palevioletred;
}

.social-items {
  display: flex;

  outline: yellow;
}

.social-items li:first-child {
  margin-left: 213px;
}

.social-button {
  background-color: #81b3d2;
  color: #ffffff;
}


.social-items a {
  display: block;
  margin: 3px;
  width: 46px;
  height: 48px;
}

.footer-copyright {
  text-align: right;
  width: 241px;
  margin-right: 73px;
  outline: 1px solid darkred;
}


.social-footer ul {
  list-style: none;
}

.search-button:hover,
.social-button:hover {
  background-color: #669ebf;
}

.social-button:active {
  background-color: #5596be;
  color: #88b6d0;
}

.footer-copyright .button {
  background-color: #ffffff;
  color: #000000;
}

.footer-copyright .button:hover {
  color: #b9d6e8;
}

.footer-copyright .button:active {
  color: #d9d9d9;
}


/* Отели сетка*/

.hotel-border-top {
  border-top: 1px solid #e5e5e5;
}

.hotels {
  padding: 30px 73px;
  display: flex;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;

  outline: 1px solid crimson;
}

.hotel-description {
  flex-grow: 1;
  min-width: 400px;
  margin-right: 88px;
  display: flex;
  flex-direction: column;
  outline: 1px solid aquamarine;
}

.hotel-name {
  margin: 0;
}

.hotel-information {
  display: inline-block;
  margin-top: 10px;
}
/* Я пока придумала только такой костыльный способ отодвинуть спаны с ценой*/
.wrap-one .price {
  margin-left: 40px;
}
.wrap-two .price {
  margin-left: 62px;
}

.wrap-three .price {
  margin-left: 20px;
}


.booking-btn-control {
  padding: 7px 16px;
  text-align: center;
  font-weight: bold;
}
.booking-btn {
  background-color: #766257;
  margin-left: 6px;
}

.hotel-rate {
  width: 112px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  outline: 1px solid crimson;
}

.stars {
 align-self: flex-end;
}

.rate {
  text-align: center;
  background-color: #f2f2f2;
}
