body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.content-container {
  width: 1200px;
  margin: 0 auto;

  background: #ffffff;
  -webkit-box-shadow: 0 0 16px 3px #cbc9c9;
  box-shadow: 0 0 16px 3px #cbc9c9;;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;


  -webkit-clip-path: inset(100%);


  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-header {
  padding: 0;

  position: relative;
}

.characters,
.main-header {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  background-color: #ffffff;
}

.main-navigation {
  width: 100%;

  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.main-header-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  width: 140px;
  height: 72px;

  background: transparent;
}

.site-navigation {
  padding: 0 73px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.site-navigation li {
  padding: 15px 0;
  width: 241px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #82b3d3;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation-current a {
  color: #766357;
}

.promo {
  display: block;
  height: 509px;
  position: relative;
  margin-bottom: 58px;

  background-image: url("../img/intro-welcome.svg"),
  url("../img/back.jpg");
  background-color: #98bbe0;
  background-repeat: no-repeat, no-repeat;
  background-size: 458px 352px, cover;
  background-position: 373px 77px, 100% 21%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.promo-bottom {
  position: absolute;
  top: 453px;
  width: 1200px;
  height: 59px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}


.title {
  padding: 0 338px 0 340px;
  margin: 30px;

  text-align: center;
  font-size: 21px;
}

.reasons {
  margin-top: 30px;
  margin-bottom: 50px;

  text-align: center;
}

/* Первый ряд*/


.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.reason-picture {
  width: 800px;
  height: 256px;

  background-image: url(../img/banner1.jpg);
  background-color: #aab7a5;
  background-repeat: no-repeat;
}

.reason-first {
  width: 400px;
  padding-top: 47px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reason-title {
  margin: 0;
  margin-bottom: 22px;
  width: 120px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  line-height: 21px;
}

.reason-first span {
  display: block;
  margin-bottom: 19px;
}

.reason-first p {
  margin: 0;
  width: 285px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  line-height: 21px;
}

/* Второй ряд */

.features {
  margin-bottom: 83px;
}

.features-list {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style: none;
}

.feature-item {
  width: 400px;
  padding-top: 160px;
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  text-align: center;
}

.feature-item-house::before,
.feature-item-food::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
  width: 75px;
  height: 75px;

  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.feature-item-gifts::before {
  content: "";

  position: absolute;
  top: 57px;
  left: 50%;
  width: 75px;
  height: 75px;

  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-41%);
  -ms-transform: translateX(-41%);
  transform: translateX(-41%);
}

.feature-item-house::before {
  background-image: url("../img/icon-1.svg");
}

.feature-item-food::before {
  background-image: url("../img/icon-3.svg");
}

.feature-item-gifts::before {
  background-image: url("../img/icon-2.svg");
}

.feature-title {
  margin: 0;
  margin-bottom: 21px;
}

.feature-item p {
  padding: 0 48px;
  margin: 0;

  line-height: 21px;
}

/* Третий ряд*/

.second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  background-image: url("../img/banner2.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #8c5d49;
}

.reason-second {
  padding: 25px 42px 41px;
  width: 400px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.reason-second-title {
  margin: 0;
  margin-bottom: 22px;
  padding-top: 20px;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  line-height: 21px;
}

.reason-second p {
  margin: 0;
  padding: 19px 0;

  line-height: 21px;
}

.last-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #eee;
}

.reasons-last-row {
  width: 400px;
  min-height: 256px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  text-align: center;
}

.reasons-last-row h2 {
  margin-top: 0;
  margin-bottom: 23px;
  padding: 47px 56px 0;
  width: 118px;

  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  line-height: 21px;
}

.reasons-last-row span {
  margin-bottom: 19px;
}

.reasons-last-row p {
  margin: 0;
  padding: 0 62px;

  line-height: 21px;
}

.reasons-last-row:last-of-type p {
  padding: 0 74px;
}

/* Форма */
.booking {
  width: auto;
  overflow: hidden;

  background-color: #ffffff;
}

.booking-title {
  padding-top: 51px;
  padding-bottom: 45px;
  position: relative;
  z-index: 2;

  background: #ffffff;
  text-align: center;
}

.booking-title b {
  font-size: 30px;
  line-height: 36px;
}

.booking-description {
  margin: 0;
  margin-top: 24px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.booking-wrap {
  margin: 0 auto;
  width: 568px;
  position: relative;
}

.booking-search {
  margin: 0 auto;
  padding: 30px 0;
  width: 568px;
  display: block;
  position: relative;
  z-index: 2;

  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.booking-form {
  position: absolute;
  padding: 55px;
  width: 568px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translateY(-100%);

  -ms-transform: translateY(-100%);

  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;

  background-color: #ffffff;
}


.booking-form-visible {
  -webkit-transform: translateY(0%);

  -ms-transform: translateY(0%);

  transform: translateY(0%);
  -webkit-transition: all 0.3S;
  -o-transition: all 0.3S;
  transition: all 0.3S;
}

.booking-item {
  margin-bottom: 28px;
  width: 100%;
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking-item:last-of-type {
  margin-bottom: 54px;
}

.booking-item label {
  display: inline-block;
  vertical-align: middle;
  width: 95px;
  padding-top: 8px;
  padding-right: 19px;

  font-weight: bold;
  text-align: center;
}

label.label-adults {
  width: 73px;
  padding-right: 40px;
}

label.label-children {
  width: 40px;
  padding-right: 26px;
}

.booking-item input[type="text"] {
  padding: 8px 35px 6px 12px;
  width: 345px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font: inherit;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
  text-transform: uppercase;
}

.booking-item input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #ffffff;
}

/*Кнопки календаря*/

.booking-item .calendar {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  right: 7px;

  outline: none;
  border: none;

  background-color: #f2f2f2;
}

.calendar svg {
  fill: #cacaca;
  position: absolute;
  -webkit-transform: translate(-12px, -10px);
  -ms-transform: translate(-12px, -10px);
  transform: translate(-12px, -10px);
}

.calendar:hover svg {
  fill: #0f0f0f;
}

.calendar:active svg {
  fill: #81b3d2;
}

.booking-item-control {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking-item-control:first-of-type {
  margin-right: 53px;
}

.control-count {
  padding: 14px 0 9px 10px;
  width: 43px;
  height: 15px;

  vertical-align: middle;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
}

input[type='number'] {
  -moz-appearance: textfield;
}


.control-btn {
  width: 31px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;
}

.control_btn:hover,
.calendar:hover {
  color: #000000;
}

.control_btn:active,
.calendar:active {
  color: #82b3d3;
}

/*Кнопки переключения*/

.btn-reduce {
  position: relative;
}

.btn-increase {
  position: relative;
}

.btn-reduce::before {
  position: absolute;
  content: "";
  display: block;

  top: 20px;
  left: 15px;
  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.btn-increase::before {
  position: absolute;
  content: "";
  display: block;

  top: 55%;
  left: 32%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.btn-increase::after {
  position: absolute;
  content: "";
  display: block;

  top: 55%;
  left: 32%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}


.btn-reduce:hover::before,
.btn-increase:hover::before,
.btn-increase:hover::after {
  background-color: #0f0f0f;
}

.btn-reduce:focus::before,
.btn-increase:focus::before,
.btn-increase:focus::after {
  background-color: #81b3d2;
}

.button {
  font-size: 14px;
  line-height: 21px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-button {
  width: 100%;
  padding: 17px 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.search-button:active {
  background-color: #5596be;
  color: #93b9d0;
}


.button:hover {
  background-color: #669ebf;
}

.button:active {
  background-color: #5596be;
  color: #94bad1;
}

.booking-search:hover,
.booking-btn:hover:hover {
  background-color: #604e44;
}

.booking-search:active,
.booking-btn:active {
  background-color: #503e32;
  color: #928984;
}


.map {
  width: 1200px;
  height: 593px;

  background-image: url("../img/map.jpg");
  background-color: #dfe9cd;
  background-repeat: no-repeat;
}

/* Inner page */
.hotel-name {
  font-size: 21px;
  line-height: 26px;
}

.hotel-name a {
  color: #000000;
}

/* Футер */


.main-footer {
  margin: 0 auto;
  padding: 38px 0 47px 0;
  width: 1200px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #ffffff;
}

.footer-index-page {
  position: absolute;
  opacity: 0.81;
  -webkit-transform: translateY(-120px);
  -ms-transform: translateY(-120px);
  transform: translateY(-120px);
}

.instagram {
  margin-right: 250px;
  padding-left: 133px;
  padding-top: 8px;
  width: 142px;
}

.hashtag {
  display: block;

  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social-footer {
  margin-right: 228px;
  width: 151px;

  text-align: center;
}

.social-footer ul {
  list-style: none;
}

.social-items {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-button {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: #81b3d2;
  color: #ffffff;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.tw::before {
  content: "";

  position: absolute;
  width: 17px;
  height: 15px;
  top: 16px;
  left: 15px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.facebook::before {
  position: absolute;

  content: "";
  width: 12px;
  height: 22px;
  top: 13px;
  left: 17px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.youtube::before {
  position: absolute;

  content: "";
  width: 20px;
  height: 16px;
  top: 15px;
  left: 13px;

  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tw:active::before,
.facebook:active::before,
.youtube:active::before {
  opacity: 0.3;
}

.social-items a {
  display: block;
  width: 46px;
  height: 48px;
}

.social-items li:not(:last-child) {
  margin-right: 6px;
}

.footer-copyright {
  margin: 0;
  padding-right: 97px;
  width: 198px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  text-align: right;

}

.footer-copyright span {
  margin-right: 7px;
}

.search-button:hover {
  background-color: #669ebf;
}

.footer-copyright .button {
  background-color: #ffffff;
  color: #000000;
}

.html-logo:hover path {
  fill: #81b3d2;
}

.html-logo:focus path {
  fill: #bdbbbc;
}


/* Фильтры*/

.filter {
  width: 1200px;

  background-color: #5d7284;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 16%;
}

.filter-form {
  padding: 0 73px 5px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #ffffff;
}

.filter-line label {
  margin-bottom: 21px;
}

.filter-form input[type="checkbox"] {
  display: none;
}

.filter-form input[type="checkbox"] + label {
  display: block;
  padding-left: 39px;
  position: relative;
}

.filter-form input[type="checkbox"] + label::before {
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
}

.filter-form input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
}

.filter-form input[type="checkbox"]:disabled + label::before {
  color: #6a6a6a
}

.filter-form input[type="checkbox"]:checked:disabled + label::before {
  color: #6a6a6a
}

.filter-type,
.hotel-type {
  width: 256px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  margin-bottom: 21px;
  padding-top: 25px;

  font-size: 16px;
  font-weight: bold;
}


.filter-result {
  width: 1200px;
  padding: 29px 72px 30px 72px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.filter-result-number {
  width: 164px;
}

.filter-result-number h2 {
  margin: 0;
}

.filter-result-list {
  width: 650px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-result-list span {
  font-size: 12px;
}

.filter-result-list ul {
  margin: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;
}

.filter-result-variation li {
  padding-right: 33px;
}

.filter-result-variation a {
  text-decoration: none;
  color: #dadada;
  font-size: 12px;
  line-height: 18px;

  border-bottom: 1px dotted #81b3d2;
}

.filter-result-variation a:hover {
  color: #81b3d2;
}

.filter-result-variation a:active {
  color: #000000;
  border: none;
}

.filter-result-variation .active {
  color: #81b3d2;
  border: none;
}

.filter-result-variation .active:hover {
  color: #81b3d2;
  border: none;
}

.filter-controls {
  width: 241px;
  text-align: right;
}

.filter-controls .up {
  padding-right: 8px;
}

.filter-controls-btn path {
  fill: #cacaca;
}

.filter-controls-btn:hover path {
  fill: #000000;
}

.filter-controls-btn:active path,
.filter-controls .active path {
  fill: #81b3d2;
}

/* Отели сетка*/

.hotels {
  padding: 0 73px 30px;
  width: 1200px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;
  padding-top: 29px;
}

.hotel-description {
  width: 265px;
  padding-top: 23px;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotel-name {
  margin: 0;
  padding: 0;
  display: block;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:focus {
  color: #b2b2b2;
}

.hotel-information {
  display: inline-block;
  vertical-align: baseline;
  width: 110px;
  margin-right: 2px;
}

.price {
  width: 142px;
}

.hotel-price-wrap {
  margin-bottom: 4px;
}

.booking-btn-control {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 16px;

  text-align: center;
  font-weight: bold;
}

.booking-btn {
  margin-left: 4px;

  background-color: #766257;
}

.hotel-rate {
  width: 104px;
  padding-top: 28px;
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stars {
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space no-repeat;

  -ms-flex-item-align: end;
  align-self: flex-end;
}

.four-stars {
  width: 89px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 41px;
}

.rate {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-align: center;
  background-color: #f2f2f2;
}

/* настройки для фильтра*/


.filter-range {
  width: 316px;
  margin: 0;
  padding: 0;
  margin-left: 225px;

  border: none;
}

.filter-range-title {
  margin-bottom: 11px;
  padding-top: 27px;
  padding-left: 3px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 79px;
  padding-left: 64px;
}

.price-controls input {
  width: 37px;
  margin: 4px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: #8c8080;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  -webkit-transition: width 0.1s, height 0.1s;
  -o-transition: width 0.1s, height 0.1s;
  transition: width 0.1s, height 0.1s;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  width: 5px;
  height: 5px;

  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
